<% provide(:title, "Help | Global ERP")%>

<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title)%></title>
</head>
<body>
	<h1>Global ERP<h1>
	<p> If you want to be a part of the community write a mail to me and join the community.</p>
</body>
</html>